[core]
    editor = nvim
    pager = delta
    excludesfile = ~/.gitignore_global

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    hyperlinks = true
    hyperlinks-file-link-format = "file://{path}:{line}"
    line-numbers = true

[delta "gruvbox-material-dark"]
    syntax-theme = gruvbox-dark
    commit-style = "#d8a657 bold"
    commit-decoration-style = "#504945 box"
    file-style = "#e2cca9 bold"
    file-decoration-style = "#d8a657 ul"
    hunk-header-file-style = "#7daea3"
    hunk-header-line-number-style = "#d8a657"
    hunk-header-decoration-style = "#504945 box"
    minus-style = "syntax #3c1f1e"
    minus-non-emph-style = "syntax #3c1f1e"
    minus-emph-style = "syntax #4c2f2e"
    minus-empty-line-marker-style = "syntax #3c1f1e"
    line-numbers-minus-style = "#ea6962"
    plus-style = "syntax #283b31"
    plus-non-emph-style = "syntax #283b31"
    plus-emph-style = "syntax #384b41"
    plus-empty-line-marker-style = "syntax #283b31"
    line-numbers-plus-style = "#a9b665"
    line-numbers-zero-style = "#504945"

[delta "gruvbox-material-light"]
    syntax-theme = gruvbox-light
    commit-style = "#b47109 bold"
    commit-decoration-style = "#e2cca9 box"
    file-style = "#514036 bold"
    file-decoration-style = "#b47109 ul"
    hunk-header-decoration-style = "#e2cca9 box"
    hunk-header-file-style = "#45707a"
    hunk-header-line-number-style = "#b47109"
    minus-style = "syntax #f2e3ce"
    minus-non-emph-style = "syntax #f2e3ce"
    minus-emph-style = "syntax #e2d3be"
    minus-empty-line-marker-style = "syntax #f2e3ce"
    line-numbers-minus-style = "#c14a4a"
    plus-style = "syntax #e4e9cd"
    plus-non-emph-style = "syntax #e4e9cd"
    plus-emph-style = "syntax #d4d9bd"
    plus-empty-line-marker-style = "syntax #e4e9cd"
    line-numbers-plus-style = "#6c782e"
    line-numbers-zero-style = "#e2cca9"

[user]
    name = Rauls Kjarners
    email = rauls.kjarners@gmail.com

[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true

[init]
    defaultBranch = main

[pull]
    rebase = true

[merge]
    conflictStyle = zdiff3

[include]
    # Machine-specific settings and work overrides
    path = ~/.gitconfig.local
