[core]
    editor = nvim
    pager = delta
    excludesfile = ~/.gitignore_global

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    hyperlinks = true
    hyperlinks-file-link-format = "file://{path}:{line}"
    line-numbers = true

[delta "dracula"]
    syntax-theme = Dracula
    plus-style = "syntax #003800"
    minus-style = "syntax #3f0001"
    plus-emph-style = "syntax #007000"
    minus-emph-style = "syntax #700000"
    plus-non-emph-style = "syntax #003800"
    minus-non-emph-style = "syntax #3f0001"
    line-numbers-zero-style = "#6272A4"
    line-numbers-left-style = "#6272A4"
    line-numbers-right-style = "#6272A4"
    line-numbers-minus-style = "#FF5555"
    line-numbers-plus-style = "#50FA7B"

[delta "alucard"]
    syntax-theme = Alucard
    plus-style = "syntax #d8f0d4"
    minus-style = "syntax #f7ddd9"
    plus-emph-style = "syntax #b0e0aa"
    minus-emph-style = "syntax #f0bdb5"
    plus-non-emph-style = "syntax #d8f0d4"
    minus-non-emph-style = "syntax #f7ddd9"
